#caption{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black !important;
  border-radius: .65rem !important;
  background-color:#28a745;
  color: black;
  padding: .45rem !important;
}
#img-thumbnail{
  background-color: #efefef;
  border:none;
}


