#caption{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black !important;
  border-radius: .65rem !important;
  background-color:#28a745;
  color: black;
  padding: .65rem !important;
}
#nogut{
  margin: 5px;
  padding: 5px;
}

#caption2{
  margin-right: auto;
  margin-left: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid black !important;
  border-radius: .65rem !important;
  background-color:#f7f7f7;
  color: black;
  padding: .65rem !important;
  max-width: fit-content !important;

}
