<div class="container">

  <div class="formGroup">
    <button type="button" (click)="authService.GoogleAuth()">
      Log in with Google
    </button>
  </div>

  <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3 style="text-align:center;">
    <b style="color: black">Admin Login</b>
    </h3>
    <div id="caption">
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control"  placeholder="Email" [(ngModel)]="email" formControlName="email">
      <span style="background-color: white" class="text-danger"
        *ngIf="(loginFormControl.email.touched || submitted) && loginFormControl.email.errors?.required">
        Email is required
      </span>
      <span style="background-color: white" class="text-danger" *ngIf="loginFormControl.email.touched && loginFormControl.email.errors?.email">
        Enter a valid email address
      </span>
    </div>


    <div class="form-group">
        <label>Password:</label>
        <input class="form-control"  placeholder="Password" [(ngModel)]="password"
        formControlName="password" maxlength="30" type="password" required>
          <span style="background-color: white" class="text-danger"
            *ngIf="(loginFormControl.password.touched || submitted) && loginFormControl.password.errors?.required">
            Password is required
          </span>
          <span style="background-color: white" class="text-danger"
            *ngIf="loginFormControl.password.touched && loginFormControl.password.errors?.invalidPassword">
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
            letter and 1 number
          </span>
   </div>
  </div>
 <hr>
    <button class="btn-success" type="submit">Sign In</button>
    <p *ngIf="errorMsg" class="text-danger">{{errorMsg}}</p>
  </form>
</div>
