
#img-thumbnail{
  background-color: #efefef;
  border:none;
}
#img-thumbnail > img,
#img-thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
  max-height:330px !important;
  width: 100% !important;
  border: 1px solid black !important;
  border-radius: .65rem !important;
  padding: .45rem !important;
 }
#caption{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black !important;
  border-radius: .65rem !important;
  background-color:#28a745;
  color: black;
  padding: .45rem !important;
}
.dropdowngall
{
  background-color:#28a745;
  border-color:black;
  border-width:1px;
  color: white !important;
}
.captionSUb{
  background-color:white;
  border-color:black;
  border-width:1px;
  color: #28a745;
  min-width: 258px;
}

.progress-bar {
  background-color: #28a745;
}
hr {
   margin-top: none;
   margin-bottom: 0px;
   border: 0px;
   border-top: 1px solid #efefef;
}
