@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Open Sans','Sans-serif';
  background-color: #efefef
}
.main-content{
  padding-top: 5px;
  color: navy;
}
h1 h2 h3 h4 h5{
  font-family: 'Monteserrat', sans-serif;
  color: #333;
}
/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
  border: 1px solid red;
}


button, ul.list-group.hover li.hover{
  cursor: pointer;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
